.checkout-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #59756f;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-container h2 {
  text-align: center;
  color: #59756f;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.checkout-item-details {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.checkout-input-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.checkout-input,
.checkout-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.checkout-input:focus,
.checkout-select:focus {
  outline: none; /* Remove default outline */
  border-color: #59756f; /* Custom border color */
  box-shadow: 0 0 5px rgba(89, 117, 111, 0.5); /* Optional: add a shadow */
}

.checkout-button {
  background-color: #59756f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.checkout-button:hover {
  background-color: #889a96;
}

.checkout-error {
  color: red;
  font-size: 12px;
}
